[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
ipykernel = "*"
scipy = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
thinc = "*"
autograd = "*"

[dev-packages]

[requires]
python_version = "3.6"
